{% extends "layout.html" %}

{% block title %}
    Add User
{% endblock %}

{% block main %}
    <form action="/add_user" method="post">
        <div class="mb-3">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="user" minlength="1" name="user" placeholder="Name" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="deposit" name="deposit" placeholder="Deposit ($)" type="number" min="0">
            </div>
            <button class="btn btn-primary" type="submit">Add User</button>

        </div>
    </form>
{% endblock %}
