{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/chgpwd" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="curr_password" name="curr_password" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password_2" name="new_password_2" placeholder="New Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
